In [5]:
import data_utils
import pandas as pd

In [10]:
friends = pd.read_csv('../data/business.tsv', sep='\t')

In [8]:
print(friends.head())

                               user_id\tfriend_id
0  5hwi39c_orbmV5324aT2kw\tdHQ1CxU66FgBStR7XV-gRg
1  5hwi39c_orbmV5324aT2kw\t_zVPYYVW4XbB9W9G0iP3lQ
2  5hwi39c_orbmV5324aT2kw\tx0J-AgXFM00qqBDzSJu4cA
3  5hwi39c_orbmV5324aT2kw\thP69ZKb_JsykAmbUYWJ2fQ
4  5hwi39c_orbmV5324aT2kw\t_LgbNcXGGMC5mUjTDOO-TA

In [ ]:
review = pd.read_csv('../data/review.tsv', sep='\t')[['user_id', 'business_id', 'like']]

In [12]:
d = {"business_id":"QXAEGFB4oINsVuTFxEYKFQ","name":"Emerald Chinese Restaurant","address":"30 Eglinton Avenue W","city":"Mississauga","state":"ON","postal_code":"L5R 3E7","latitude":43.6054989743,"longitude":-79.652288909,"stars":2.5,"review_count":128,"is_open":1,"attributes":{"RestaurantsReservations":"True","GoodForMeal":"{'dessert': False, 'latenight': False, 'lunch': True, 'dinner': True, 'brunch': False, 'breakfast': False}","BusinessParking":"{'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}","Caters":"True","NoiseLevel":"u'loud'","RestaurantsTableService":"True","RestaurantsTakeOut":"True","RestaurantsPriceRange2":"2","OutdoorSeating":"False","BikeParking":"False","Ambience":"{'romantic': False, 'intimate': False, 'classy': False, 'hipster': False, 'divey': False, 'touristy': False, 'trendy': False, 'upscale': False, 'casual': True}","HasTV":"False","WiFi":"u'no'","GoodForKids":"True","Alcohol":"u'full_bar'","RestaurantsAttire":"u'casual'","RestaurantsGoodForGroups":"True","RestaurantsDelivery":"False"},"categories":"Specialty Food, Restaurants, Dim Sum, Imported Food, Food, Chinese, Ethnic Food, Seafood","hours":{"Monday":"9:0-0:0","Tuesday":"9:0-0:0","Wednesday":"9:0-0:0","Thursday":"9:0-0:0","Friday":"9:0-1:0","Saturday":"9:0-1:0","Sunday":"9:0-0:0"}}

In [14]:
k = data_utils.unnest_dictionary(d)

In [15]:
print(len(k))

54

In [16]:
print(k)

{'business_id': 'QXAEGFB4oINsVuTFxEYKFQ', 'name': 'Emerald Chinese Restaurant', 'address': '30 Eglinton Avenue W', 'city': 'Mississauga', 'state': 'ON', 'postal_code': 'L5R 3E7', 'latitude': '43.6054989743', 'longitude': '-79.652288909', 'stars': '2.5', 'review_count': '128', 'is_open': '1', 'categories': 'Specialty Food, Restaurants, Dim Sum, Imported Food, Food, Chinese, Ethnic Food, Seafood', 'attributes_RestaurantsReservations': 'True', 'attributes_Caters': 'True', 'attributes_NoiseLevel': 'loud', 'attributes_RestaurantsTableService': 'True', 'attributes_RestaurantsTakeOut': 'True', 'attributes_RestaurantsPriceRange2': '2', 'attributes_OutdoorSeating': 'False', 'attributes_BikeParking': 'False', 'attributes_HasTV': 'False', 'attributes_WiFi': 'no', 'attributes_GoodForKids': 'True', 'attributes_Alcohol': 'full_bar', 'attributes_RestaurantsAttire': 'casual', 'attributes_RestaurantsGoodForGroups': 'True', 'attributes_RestaurantsDelivery': 'False', 'hours_Monday': '9:0-0:0', 'hours_Tuesday': '9:0-0:0', 'hours_Wednesday': '9:0-0:0', 'hours_Thursday': '9:0-0:0', 'hours_Friday': '9:0-1:0', 'hours_Saturday': '9:0-1:0', 'hours_Sunday': '9:0-0:0', 'attributes_GoodForMeal_dessert': 'False', 'attributes_GoodForMeal_latenight': 'False', 'attributes_GoodForMeal_lunch': 'True', 'attributes_GoodForMeal_dinner': 'True', 'attributes_GoodForMeal_brunch': 'False', 'attributes_GoodForMeal_breakfast': 'False', 'attributes_BusinessParking_garage': 'False', 'attributes_BusinessParking_street': 'False', 'attributes_BusinessParking_validated': 'False', 'attributes_BusinessParking_lot': 'True', 'attributes_BusinessParking_valet': 'False', 'attributes_Ambience_romantic': 'False', 'attributes_Ambience_intimate': 'False', 'attributes_Ambience_classy': 'False', 'attributes_Ambience_hipster': 'False', 'attributes_Ambience_divey': 'False', 'attributes_Ambience_touristy': 'False', 'attributes_Ambience_trendy': 'False', 'attributes_Ambience_upscale': 'False', 'attributes_Ambience_casual': 'True'}

In [17]:
review = pd.read_csv('../data/review.tsv', sep='\t')

In [18]:
d2 = {"user_id":"l6BmjZMeQD3rDxWUbiAiow","name":"Rashmi","review_count":95,"yelping_since":"2013-10-08 23:11:33","useful":84,"funny":17,"cool":25,"elite":"2015,2016,2017","friends":"c78V-rj8NQcQjOI8KP3UEA, alRMgPcngYSCJ5naFRBz5g, ajcnq75Z5xxkvUSmmJ1bCg, BSMAmp2-wMzCkhTfq9ToNg, jka10dk9ygX76hJG0gfPZQ, dut0e4xvme7QSlesOycHQA, l4l5lBnK356zBua7B-UJ6Q, 0HicMOOs-M_gl2eO-zES4Q, _uI57wL2fLyftrcSFpfSGQ, T4_Qd0YWbC3co6WSMw4vxg, iBRoLWPtWmsI1kdbE9ORSA, xjrUcid6Ymq0DoTJELkYyw, GqadWVzJ6At-vgLzK_SKgA, DvB13VJBmSnbFXBVBsKmDA, vRP9nQkYTeNioDjtxZlVhg, gT0A1iN3eeQ8EMAjJhwQtw, 6yCWjFPtp_AD4x93WAwmnw, 1dKzpNnib-JlViKv8_Gt5g, 3Bv4_JxHXq-gVLOxYMQX0Q, ikQyfu1iViYh8T0us7wiFQ, f1GGltNaB7K5DR1jf3dOmg, tgeFUChlh7v8bZFVl2-hjQ, -9-9oyXlqsMG2he5xIWdLQ, Adj9fBPVJad8vSs-mIP7gw, Ce49RY8CKXVsTifxRYFTsw, M1_7TLi8CbdA89nFLlH4iw, wFsNv-hqbW_F5-IRqfBN6g, 0Q1L7zXHocaUZ2gsG2XJeg, cBFgmOCBdhYa0xoFEAzp_g, VrD_AgiFvzqtlR15vir3SQ, cpE-7HK514Sr5vpSen9CEQ, F1UYelhPFB-zIKlt0ygIZg, CQAL1hvsLMCzuJf9AglsXw, 1KnY1wr15WfEWIRLB9IS6g, QWFQ-kXBiLbid-lm5Jr3dQ, nymT8liFugCrM16lTy0ZfQ, qj69bdd885heDvUPCyHd2Q, DySCZZcgbdrlHgEovk5y9w, lZMJIDuvhT9Dy4KyquLXyA, b_9Gn7wS93AoPZPR0dIJqQ, N07g1IaLh0_6sUjtiSRe4w, YdfPX_7DxSnKvvdCJ57iOw, 8GYryZPD22W7WgQ8kvMkEQ, cpQmAgOWatghp14h1pn1dQ, EnchhymLYMqftCRjqvVWmw, -JdfKhFktE7Zs9BMDFcPeQ, uWhC9eof98zPkvsalgaqJw, eyTlNDDaiPatfe6mheIZ0g, VfHq0o73aKsODvfAhwAQtg, kvD5tICngLAaQDujSFWupA, dXacwEhqi9-3_XT6JeH0Og, NfU0zDaTMEQ4-X9dbQWd9A, cTHWBdjSKbctSUIvWsgFxw, 3IEtCbSDF5t7RkZ20T6s9A, HJJXTrp6UybYyPdQ9DA0JA, JaXogQFVjzGRAeBvzamBHg, NUonfKkjS1iVqnNITtgXZg, D5vaJAYp0sOrGfsj9qvsMA, H27Ecbwwu4FGAlLgICourw, S8HrLmMiE4u8FWYWkNEoTw, Io36Y3xWQcIX9rYvPcYfXQ, J5mcqh8KxYpqjaLBNlwcig, -nTB3_08g06fD0GT8AtDBQ, wMpFA46lihK8oFns_5p65A, RZGFJHeomGJCWp3xcL3ejA, ZoQSzzXoSP1RxOD4Amv9Bg, qzM0EB0SkuuGIFv0adjQAQ, HuM6vvuveken-fPZ7d4olA, H3oukHpGpn9n_mJwSDSQyQ, PkmsJsQ8FIZe8eh8c_u96g, wSByVbwME4MzgkJaFyfvNg, YEVqknoDmrHAoUbHX0nPnA, li3vsK1XAPmeJYAUTYflHQ, MKc8yXi0glbPYt0Qb4PECw, fQPH6W9fksi27gkuUPnFaA, amrCMrDsoRetYFg2kwwdFA, 84dVQ6n6r2ezNaTuc7RkKA, yW9QjWY0olv5-uRKv3t_Kw, 5XJDj7c3eoidfQ3jW18Zgw, txSc6a6pIDctvwyBeu7Aqg, HFbbDCyyqP9xPkUlcxeIdg, hTUv5oh2do6Z3OppPuuiJA, gSqonG9J4fNM-fl_fE71AA, pd9mgTFpBTg5F9x-MsczNg, j3VE22V2GcHiH8UZxfFLfw, NYXlMW-T-3V4Jqr4r-i0Wg, btxgAZedxX8IWhMifA7Xkg, -Hp5mPLiRJNFnyeX5Ygzag, P6-DwVg6-t2JuQwIUEk0iQ, OI2TvxYvZrAodBG_RF53Xw, bHxf_VPKmZur1Bier-6A2A, Et_Sb39cVm81_Xe9HDM8ZQ, 5HwGl2UyYbaRq8aD6YC-fA, ZK228WMcCKLo5thcjD7rdw, iTf8wojwfm0NOi7dOiz3Nw, btYRxQYNJjpecflNHtFH0A, Kgo42FzpW_dXFgDKoewbtg, MNk_1Q_dqOY3xxHZKeO8VQ, AlwD504T9k0m5lkg3k5g6Q","fans":5,"average_stars":4.03,"compliment_hot":2,"compliment_more":0,"compliment_profile":0,"compliment_cute":0,"compliment_list":0,"compliment_note":1,"compliment_plain":1,"compliment_cool":1,"compliment_funny":1,"compliment_writer":2,"compliment_photos":0}

In [19]:
k2 = data_utils.unnest_dictionary(d2)

In [21]:
print(len(k2))

22

In [22]:
predictors = ['latitude_b', 'longitude_b', 'review_count_b', 
             'stars_b', 'average_stars_u',
             'compliment_cool_u', 'compliment_cute_u',
             'compliment_funny_u', 'compliment_hot_u',
             'compliment_list_u', 'compliment_more_u',
             'compliment_note_u', 'compliment_photos_u',
             'compliment_plain_u', 'compliment_profile_u',
             'compliment_writer_u', 'cool_u',
             'fans_u', 'funny_u', 'review_count_u',
              'useful_u']

In [23]:
len(predictors)

21

In [24]:
train.to_pickle("train.pkl")
val.to_pickle("val.pkl")
test.to_pickle("test.pkl")

NameError: name 'train' is not defined

In [25]:
df = pd.read_pickle("train.pkl")

In [26]:
df.head()

,business_id,cool_r,date_r,funny_r,review_id_r,stars_r,useful_r,user_id,address_b,attributes_b,...,compliment_writer_u,cool_u,elite_u,fans_u,friends_u,funny_u,name_u,review_count_u,useful_u,yelping_since_u
0,ujmEBvifdJM6h6RLv4wQIg,0,2013-05-07 04:34:36,1,Q1sbwvVQXV2734tPgoKj4Q,1,6,hG7b0MtEbXx5QzbzE6C_VA,3100 N Tenaya Way,"{'ByAppointmentOnly': 'False', 'GoodForKids': ...",...,0,0,,0,frQs7y5qa-X1pvAM0sJe1w,4,Stefan,10,18,2008-07-10 17:24:47
1,ujmEBvifdJM6h6RLv4wQIg,0,2013-03-27 14:17:13,0,oy8f3bxyl7zZJFDQ5edtIA,1,3,hG7b0MtEbXx5QzbzE6C_VA,3100 N Tenaya Way,"{'ByAppointmentOnly': 'False', 'GoodForKids': ...",...,0,0,,0,frQs7y5qa-X1pvAM0sJe1w,4,Stefan,10,18,2008-07-10 17:24:47
2,lsAe6PMRTVGtaBqw3zKlMQ,0,2013-04-24 09:04:10,0,nsr-0uYDWv22qFdARRa2CQ,2,0,hG7b0MtEbXx5QzbzE6C_VA,3950 W Lake Mead Blvd,"{'RestaurantsTakeOut': 'True', 'Caters': 'True...",...,0,0,,0,frQs7y5qa-X1pvAM0sJe1w,4,Stefan,10,18,2008-07-10 17:24:47
3,xpEq8x5caXFm2lmjQ51rVQ,0,2014-02-27 04:20:15,0,D4_FpPSPRNtAj1964vXFPQ,2,2,hG7b0MtEbXx5QzbzE6C_VA,3228 Channel 8 Dr,None,...,0,0,,0,frQs7y5qa-X1pvAM0sJe1w,4,Stefan,10,18,2008-07-10 17:24:47
4,Y07qIurPKiUJDnTZWxZN2A,0,2012-08-28 23:34:11,0,HeTRGukwBk1TPoX0dr4xZA,5,0,hG7b0MtEbXx5QzbzE6C_VA,4321 W Flamingo Rd,"{'BusinessAcceptsCreditCards': 'True', 'Restau...",...,0,0,,0,frQs7y5qa-X1pvAM0sJe1w,4,Stefan,10,18,2008-07-10 17:24:47

In [ ]:
print(sum(df['']))