In [1]:
import pandas as pd

from preprocess import Preprocess

In [2]:
df = pd.read_pickle("../data/merged.pkl")

df_test = df.head(1000)

preproc = Preprocess()
preproc.rm_weekdays(df_test)

df_test.head()

/usr/local/lib/python3.7/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

,review_id,business_id,user_id,label,date,average_stars,compliment_cool,compliment_funny,compliment_note,compliment_plain,...,DietaryRestrictions_vegan,DietaryRestrictions_kosher,DietaryRestrictions_halal,DietaryRestrictions_soy-free,DietaryRestrictions_vegetarian,BestNights,HairSpecializesIn,Open24Hours,DietaryRestrictions,RestaurantsCounterService
0,Q1sbwvVQXV2734tPgoKj4Q,ujmEBvifdJM6h6RLv4wQIg,hG7b0MtEbXx5QzbzE6C_VA,0,2013-05-07 04:34:36,2.00,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,oy8f3bxyl7zZJFDQ5edtIA,ujmEBvifdJM6h6RLv4wQIg,hG7b0MtEbXx5QzbzE6C_VA,0,2013-03-27 14:17:13,2.00,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8F9500ycq3mvpjf0glbFFg,ujmEBvifdJM6h6RLv4wQIg,tH0uKD-vNwMoEc3Xk3Cbdg,0,2012-08-17 21:58:24,3.87,691,691,315,445,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,qH-fr3sCKO0WoryJy44SGQ,ujmEBvifdJM6h6RLv4wQIg,renPzRDqMZpMaHiCD_e1_A,1,2015-07-18 11:40:36,3.82,199,199,87,155,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SnDqhw1IsB34BW1J1Er4mw,ujmEBvifdJM6h6RLv4wQIg,renPzRDqMZpMaHiCD_e1_A,0,2015-04-06 14:45:57,3.82,199,199,87,155,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df_test = preproc.categorical_to_numerical(df_test)
df_test.head()

/Users/fredmell/CS229Project/python/preprocess.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df[column] = pd.to_numeric(df[column], errors="ignore")

000 review_id                           <class 'str'>
001 business_id                         <class 'str'>
002 user_id                             <class 'str'>
003 label                               <class 'numpy.int64'>
004 date                                <class 'numpy.int64'>
005 average_stars                       <class 'numpy.float64'>
006 compliment_cool                     <class 'numpy.int64'>
007 compliment_funny                    <class 'numpy.int64'>
008 compliment_note                     <class 'numpy.int64'>
009 compliment_plain                    <class 'numpy.int64'>
010 cool                                <class 'numpy.int64'>
011 fans                                <class 'numpy.int64'>
012 funny                               <class 'numpy.int64'>
013 user_review_count                   <class 'numpy.int64'>
014 useful                              <class 'numpy.int64'>
015 nb_friends                          <class 'numpy.int64'>
016 categories                          <class 'str'>
017 is_open                             <class 'numpy.int64'>
018 latitude                            <class 'numpy.float64'>
019 longitude                           <class 'numpy.float64'>
020 postal_code                         <class 'numpy.int64'>
021 business_review_count               <class 'numpy.int64'>
022 stars                               <class 'numpy.float64'>
023 RestaurantsReservations             <class 'numpy.float64'>
024 Caters                              <class 'numpy.float64'>
025 NoiseLevel                          <class 'numpy.float64'>
026 RestaurantsTableService             <class 'numpy.float64'>

/Users/fredmell/CS229Project/python/preprocess.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df[column] = df[column].map(lambda x: cat_to_num_mapping[column][x], na_action="ignore")

027 RestaurantsTakeOut                  <class 'numpy.float64'>
028 RestaurantsPriceRange2              <class 'numpy.float64'>
029 OutdoorSeating                      <class 'numpy.float64'>
030 BikeParking                         <class 'numpy.float64'>
031 HasTV                               <class 'numpy.float64'>
032 WiFi                                <class 'numpy.float64'>
033 GoodForKids                         <class 'numpy.float64'>
034 Alcohol                             <class 'numpy.float64'>
035 RestaurantsAttire                   <class 'numpy.float64'>
036 RestaurantsGoodForGroups            <class 'numpy.float64'>
037 RestaurantsDelivery                 <class 'numpy.float64'>
038 GoodForMeal_dessert                 <class 'numpy.float64'>
039 GoodForMeal_latenight               <class 'numpy.float64'>
040 GoodForMeal_lunch                   <class 'numpy.float64'>
041 GoodForMeal_dinner                  <class 'numpy.float64'>
042 GoodForMeal_brunch                  <class 'numpy.float64'>
043 GoodForMeal_breakfast               <class 'numpy.float64'>
044 BusinessParking_garage              <class 'numpy.float64'>
045 BusinessParking_street              <class 'numpy.float64'>
046 BusinessParking_validated           <class 'numpy.float64'>
047 BusinessParking_lot                 <class 'numpy.float64'>
048 BusinessParking_valet               <class 'numpy.float64'>
049 Ambience_romantic                   <class 'numpy.float64'>
050 Ambience_intimate                   <class 'numpy.float64'>
051 Ambience_classy                     <class 'numpy.float64'>
052 Ambience_hipster                    <class 'numpy.float64'>
053 Ambience_divey                      <class 'numpy.float64'>
054 Ambience_touristy                   <class 'numpy.float64'>
055 Ambience_trendy                     <class 'numpy.float64'>
056 Ambience_upscale                    <class 'numpy.float64'>
057 Ambience_casual                     <class 'numpy.float64'>
058 BusinessAcceptsCreditCards          <class 'numpy.int64'>
059 BusinessAcceptsBitcoin              <class 'numpy.float64'>
060 ByAppointmentOnly                   <class 'numpy.float64'>
061 AcceptsInsurance                    <class 'numpy.float64'>
062 GoodForDancing                      <class 'numpy.float64'>
063 CoatCheck                           <class 'numpy.float64'>
064 HappyHour                           <class 'numpy.float64'>
065 Music_dj                            <class 'numpy.float64'>
066 Music_background_music              <class 'numpy.float64'>
067 Music_no_music                      <class 'numpy.float64'>
068 Music_jukebox                       <class 'numpy.float64'>
069 Music_live                          <class 'numpy.float64'>
070 Music_video                         <class 'numpy.float64'>
071 Music_karaoke                       <class 'numpy.float64'>
072 BestNights_monday                   <class 'numpy.float64'>
073 BestNights_tuesday                  <class 'numpy.float64'>
074 BestNights_friday                   <class 'numpy.float64'>
075 BestNights_wednesday                <class 'numpy.float64'>
076 BestNights_thursday                 <class 'numpy.float64'>
077 BestNights_sunday                   <class 'numpy.float64'>
078 BestNights_saturday                 <class 'numpy.float64'>
079 Ambience                            <class 'numpy.float64'>
080 BusinessParking                     <class 'numpy.float64'>
081 WheelchairAccessible                <class 'numpy.float64'>
082 DogsAllowed                         <class 'numpy.float64'>
083 Smoking                             <class 'numpy.float64'>
084 HairSpecializesIn_straightperms     <class 'numpy.float64'>
085 HairSpecializesIn_coloring          <class 'numpy.float64'>
086 HairSpecializesIn_extensions        <class 'numpy.float64'>
087 HairSpecializesIn_africanamerican   <class 'numpy.float64'>
088 HairSpecializesIn_curly             <class 'numpy.float64'>
089 HairSpecializesIn_kids              <class 'numpy.float64'>
090 HairSpecializesIn_perms             <class 'numpy.float64'>
091 HairSpecializesIn_asian             <class 'numpy.float64'>
092 DriveThru                           <class 'numpy.float64'>
093 Corkage                             <class 'numpy.float64'>
094 BYOBCorkage                         <class 'numpy.float64'>
095 BYOB                                <class 'numpy.float64'>
096 Music                               <class 'numpy.float64'>
097 AgesAllowed                         <class 'numpy.float64'>
098 GoodForMeal                         <class 'numpy.float64'>
099 DietaryRestrictions_dairy-free      <class 'numpy.float64'>
100 DietaryRestrictions_gluten-free     <class 'numpy.float64'>
101 DietaryRestrictions_vegan           <class 'numpy.float64'>
102 DietaryRestrictions_kosher          <class 'numpy.float64'>
103 DietaryRestrictions_halal           <class 'numpy.float64'>
104 DietaryRestrictions_soy-free        <class 'numpy.float64'>
105 DietaryRestrictions_vegetarian      <class 'numpy.float64'>
106 BestNights                          <class 'numpy.float64'>
107 HairSpecializesIn                   <class 'numpy.float64'>
108 Open24Hours                         <class 'numpy.float64'>
109 DietaryRestrictions                 <class 'numpy.float64'>
110 RestaurantsCounterService           <class 'numpy.float64'>

,review_id,business_id,user_id,label,date,average_stars,compliment_cool,compliment_funny,compliment_note,compliment_plain,...,DietaryRestrictions_vegan,DietaryRestrictions_kosher,DietaryRestrictions_halal,DietaryRestrictions_soy-free,DietaryRestrictions_vegetarian,BestNights,HairSpecializesIn,Open24Hours,DietaryRestrictions,RestaurantsCounterService
0,Q1sbwvVQXV2734tPgoKj4Q,ujmEBvifdJM6h6RLv4wQIg,hG7b0MtEbXx5QzbzE6C_VA,0,1367901276000000000,2.00,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,oy8f3bxyl7zZJFDQ5edtIA,ujmEBvifdJM6h6RLv4wQIg,hG7b0MtEbXx5QzbzE6C_VA,0,1364393833000000000,2.00,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8F9500ycq3mvpjf0glbFFg,ujmEBvifdJM6h6RLv4wQIg,tH0uKD-vNwMoEc3Xk3Cbdg,0,1345240704000000000,3.87,691,691,315,445,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,qH-fr3sCKO0WoryJy44SGQ,ujmEBvifdJM6h6RLv4wQIg,renPzRDqMZpMaHiCD_e1_A,1,1437219636000000000,3.82,199,199,87,155,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SnDqhw1IsB34BW1J1Er4mw,ujmEBvifdJM6h6RLv4wQIg,renPzRDqMZpMaHiCD_e1_A,0,1428331557000000000,3.82,199,199,87,155,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
preproc.fill_na(df_test)
df_test.head()

/usr/local/lib/python3.7/site-packages/pandas/core/generic.py:5434: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

003 label                               0
005 average_stars                       3.0
006 compliment_cool                     0
007 compliment_funny                    0
008 compliment_note                     0
009 compliment_plain                    0
010 cool                                0
011 fans                                0
012 funny                               0
013 user_review_count                   10
014 useful                              0
015 nb_friends                          1
017 is_open                             1
018 latitude                            36.115137
019 longitude                           -115.195433
021 business_review_count               433
022 stars                               3.0
023 RestaurantsReservations             0.0
024 Caters                              0.0
025 NoiseLevel                          2.0
Warning: No mode, imputed with NaN.
026 RestaurantsTableService             nan
027 RestaurantsTakeOut                  0.0
028 RestaurantsPriceRange2              2.0
029 OutdoorSeating                      0.0
030 BikeParking                         0.0
031 HasTV                               0.0
032 WiFi                                0.0
033 GoodForKids                         0.0
034 Alcohol                             2.0
035 RestaurantsAttire                   1.0
036 RestaurantsGoodForGroups            1.0
037 RestaurantsDelivery                 0.0
038 GoodForMeal_dessert                 0.0
039 GoodForMeal_latenight               0.0
040 GoodForMeal_lunch                   1.0
041 GoodForMeal_dinner                  1.0
042 GoodForMeal_brunch                  0.0
043 GoodForMeal_breakfast               0.0
044 BusinessParking_garage              1.0
045 BusinessParking_street              0.0
046 BusinessParking_validated           0.0
047 BusinessParking_lot                 0.0
048 BusinessParking_valet               0.0
049 Ambience_romantic                   0.0
050 Ambience_intimate                   0.0
051 Ambience_classy                     0.0
052 Ambience_hipster                    0.0
053 Ambience_divey                      0.0
054 Ambience_touristy                   0.0
055 Ambience_trendy                     0.0
056 Ambience_upscale                    0.0
057 Ambience_casual                     1.0
058 BusinessAcceptsCreditCards          1
Warning: No mode, imputed with NaN.
059 BusinessAcceptsBitcoin              nan
060 ByAppointmentOnly                   0.0
061 AcceptsInsurance                    1.0
062 GoodForDancing                      0.0
Warning: No mode, imputed with NaN.
063 CoatCheck                           nan
Warning: No mode, imputed with NaN.
064 HappyHour                           nan
065 Music_dj                            0.0
066 Music_background_music              0.0
067 Music_no_music                      0.0
068 Music_jukebox                       0.0
069 Music_live                          1.0
070 Music_video                         0.0
071 Music_karaoke                       0.0
072 BestNights_monday                   0.0
073 BestNights_tuesday                  1.0
074 BestNights_friday                   1.0
075 BestNights_wednesday                0.0
076 BestNights_thursday                 0.0
077 BestNights_sunday                   0.0
078 BestNights_saturday                 1.0
Warning: No mode, imputed with NaN.
079 Ambience                            nan
Warning: No mode, imputed with NaN.
080 BusinessParking                     nan
Warning: No mode, imputed with NaN.
081 WheelchairAccessible                nan
Warning: No mode, imputed with NaN.
082 DogsAllowed                         nan
Warning: No mode, imputed with NaN.
083 Smoking                             nan
Warning: No mode, imputed with NaN.
084 HairSpecializesIn_straightperms     nan
Warning: No mode, imputed with NaN.
085 HairSpecializesIn_coloring          nan
Warning: No mode, imputed with NaN.
086 HairSpecializesIn_extensions        nan
Warning: No mode, imputed with NaN.
087 HairSpecializesIn_africanamerican   nan
Warning: No mode, imputed with NaN.
088 HairSpecializesIn_curly             nan
Warning: No mode, imputed with NaN.
089 HairSpecializesIn_kids              nan
Warning: No mode, imputed with NaN.
090 HairSpecializesIn_perms             nan
Warning: No mode, imputed with NaN.
091 HairSpecializesIn_asian             nan
Warning: No mode, imputed with NaN.
092 DriveThru                           nan
Warning: No mode, imputed with NaN.
093 Corkage                             nan
094 BYOBCorkage                         0.0
Warning: No mode, imputed with NaN.
095 BYOB                                nan
Warning: No mode, imputed with NaN.
096 Music                               nan
Warning: No mode, imputed with NaN.
097 AgesAllowed                         nan
Warning: No mode, imputed with NaN.
098 GoodForMeal                         nan
Warning: No mode, imputed with NaN.
099 DietaryRestrictions_dairy-free      nan
Warning: No mode, imputed with NaN.
100 DietaryRestrictions_gluten-free     nan
Warning: No mode, imputed with NaN.
101 DietaryRestrictions_vegan           nan
Warning: No mode, imputed with NaN.
102 DietaryRestrictions_kosher          nan
Warning: No mode, imputed with NaN.
103 DietaryRestrictions_halal           nan
Warning: No mode, imputed with NaN.
104 DietaryRestrictions_soy-free        nan
Warning: No mode, imputed with NaN.
105 DietaryRestrictions_vegetarian      nan
Warning: No mode, imputed with NaN.
106 BestNights                          nan
Warning: No mode, imputed with NaN.
107 HairSpecializesIn                   nan
Warning: No mode, imputed with NaN.
108 Open24Hours                         nan
Warning: No mode, imputed with NaN.
109 DietaryRestrictions                 nan
Warning: No mode, imputed with NaN.
110 RestaurantsCounterService           nan

,review_id,business_id,user_id,label,date,average_stars,compliment_cool,compliment_funny,compliment_note,compliment_plain,...,DietaryRestrictions_vegan,DietaryRestrictions_kosher,DietaryRestrictions_halal,DietaryRestrictions_soy-free,DietaryRestrictions_vegetarian,BestNights,HairSpecializesIn,Open24Hours,DietaryRestrictions,RestaurantsCounterService
0,Q1sbwvVQXV2734tPgoKj4Q,ujmEBvifdJM6h6RLv4wQIg,hG7b0MtEbXx5QzbzE6C_VA,0,1367901276000000000,2.00,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,oy8f3bxyl7zZJFDQ5edtIA,ujmEBvifdJM6h6RLv4wQIg,hG7b0MtEbXx5QzbzE6C_VA,0,1364393833000000000,2.00,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8F9500ycq3mvpjf0glbFFg,ujmEBvifdJM6h6RLv4wQIg,tH0uKD-vNwMoEc3Xk3Cbdg,0,1345240704000000000,3.87,691,691,315,445,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,qH-fr3sCKO0WoryJy44SGQ,ujmEBvifdJM6h6RLv4wQIg,renPzRDqMZpMaHiCD_e1_A,1,1437219636000000000,3.82,199,199,87,155,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SnDqhw1IsB34BW1J1Er4mw,ujmEBvifdJM6h6RLv4wQIg,renPzRDqMZpMaHiCD_e1_A,0,1428331557000000000,3.82,199,199,87,155,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN